In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [6]:
file_path = Path.cwd() / "Daily_Power_Gen_States_march_23.csv"
df=pd.read_csv(file_path)
df.head(30)

,Region,States,Max.Demand Met during the day(MW),Shortage during maximum Demand(MW),Energy Met (MU),date
0,NER,Mizoram,77,1.0,1.2,2015-01-01
1,WR,DD,214,0.0,4.8,2015-01-01
2,WR,Goa,383,0.0,7.3,2015-01-01
3,WR,Maharashtra,14837,57.0,315.0,2015-01-01
4,WR,MP,5740,0.0,109.8,2015-01-01
5,WR,Gujarat,11383,0.0,246.4,2015-01-01
6,WR,Chhattisgarh,3052,18.0,64.6,2015-01-01
7,WR,DNH,581,0.0,14.0,2015-01-01
8,NR,Chandigarh,224,0.0,3.8,2015-01-01
9,NR,HP,1367,0.0,25.1,2015-01-01
10,NR,Uttarakhand,1768,0.0,33.9,2015-01-01
11,NR,UP,9998,3645.0,244.0,2015-01-01
12,NR,Delhi,4009,0.0,67.6,2015-01-01
13,NR,Rajasthan,9810,0.0,204.9,2015-01-01
14,NR,Haryana,6025,0.0,116.8,2015-01-01
15,NR,J&K,1959,346.0,37.3,2015-01-01
16,NR,Punjab,5045,0.0,93.3,2015-01-01
17,WR,Essar steel,258,0.0,5.4,2015-01-01
18,SR,Andhra Pradesh,5963,0.0,131.5,2015-01-01
19,NER,Meghalaya,311,1.0,5.1,2015-01-01
20,NER,Manipur,136,2.0,2.6,2015-01-01
21,NER,Assam,1210,37.0,21.8,2015-01-01
22,NER,Arunachal Pradesh,103,2.0,1.8,2015-01-01
23,ER,Sikkim,89,0.0,1.8,2015-01-01
24,ER,West Bengal,5888,0.0,101.0,2015-01-01
25,ER,Odisha,3011,0.0,65.6,2015-01-01
26,ER,Jharkhand,1012,119.0,22.0,2015-01-01
27,ER,DVC,2243,0.0,51.8,2015-01-01
28,ER,Bihar,2679,0.0,52.2,2015-01-01
29,SR,Pondy,278,0.0,5.4,2015-01-01

In [7]:
df.drop(["Max.Demand Met during the day(MW)","Shortage during maximum Demand(MW)","Region"], axis=1,inplace=True)

In [8]:
df.sort_values(by=['States','Energy Met (MU)'],inplace=True)

In [9]:
df.query("States not in ['AMNSIL','BALCO','DNH','DNHDDPDCL','DVC','Essar steel','Railways_NR ISTS','Pondy', 'Puducherry']",inplace=True)

In [10]:
df['States'].replace({
    'J&K':'Jammu & Kashmir',
    'J&K(UT)':'Jammu & Kashmir',
    'J&K(UT) &':'Jammu & Kashmir',
    'J&K(UT) & \nLadakh(UT)':'Jammu & Kashmir',
    'J&K(UT) & Ladakh(UT)':'Jammu & Kashmir',
    'J&K(UT) and Ladakh(UT)':'Jammu & Kashmir',
    'DD':'Daman & Diu',
    'MP':'Madhya Pradesh',
    'UP':'Uttar Pradesh',
    'HP':'Himachal Pradesh'},
    inplace=True)
df['States']=df['States'].str.strip()

In [12]:
df.head(30)

                States  Energy Met (MU)        date
9806    Andhra Pradesh             93.5  2014-06-03
69887   Andhra Pradesh             96.8  2015-11-17
74251   Andhra Pradesh            101.2  2015-11-18
111468  Andhra Pradesh            101.2  2014-10-27
76371   Andhra Pradesh            103.4  2016-05-19
107341  Andhra Pradesh            104.8  2014-10-26
90965   Andhra Pradesh            105.3  2015-11-22
115674  Andhra Pradesh            105.3  2014-10-28
78433   Andhra Pradesh            105.9  2015-11-19
94752   Andhra Pradesh            106.6  2014-10-23
5899    Andhra Pradesh            106.9  2014-06-02
82574   Andhra Pradesh            107.4  2015-11-20
48634   Andhra Pradesh            108.5  2014-10-12
86814   Andhra Pradesh            108.8  2015-11-21
52851   Andhra Pradesh            109.2  2014-10-13
66487   Andhra Pradesh            110.4  2016-01-17
3955    Andhra Pradesh            111.4  2015-12-01
119562  Andhra Pradesh            112.0  2015-10-29
78083   Andhra Pradesh            112.6  2014-10-19
32945   Andhra Pradesh            112.8  2016-01-09
40684   Andhra Pradesh            112.9  2015-11-10
118213  Andhra Pradesh            113.0  2016-06-29
123778  Andhra Pradesh            113.1  2015-11-30
85049   Andhra Pradesh            113.3  2015-06-21
80625   Andhra Pradesh            113.5  2016-05-20
44842   Andhra Pradesh            113.6  2015-11-11
61548   Andhra Pradesh            113.7  2015-11-15
24226   Andhra Pradesh            113.8  2015-12-06
72070   Andhra Pradesh            113.9  2016-05-18
82200   Andhra Pradesh            113.9  2014-10-20

In [16]:
df_sorted = df.sort_values(by=["States", "date"])

for state, group in df_sorted.groupby("States"):
    print(f"\n--- {state} ---")
    print(group.head(10))

--- Andhra Pradesh ---
                States  Energy Met (MU)        date
124744  Andhra Pradesh            253.7  2013-03-31
1145    Andhra Pradesh            248.5  2013-04-01
5194    Andhra Pradesh            249.0  2013-04-02
9201    Andhra Pradesh            249.0  2013-04-03
13231   Andhra Pradesh            253.9  2013-04-04
17561   Andhra Pradesh            246.0  2013-04-05
21524   Andhra Pradesh            248.9  2013-04-06
25507   Andhra Pradesh            246.5  2013-04-07
29719   Andhra Pradesh            250.5  2013-04-08
33930   Andhra Pradesh            249.0  2013-04-09

--- Arunachal Pradesh ---
                   States  Energy Met (MU)        date
124756  Arunachal Pradesh              1.4  2013-03-31
1118    Arunachal Pradesh              1.2  2013-04-01
5206    Arunachal Pradesh              1.1  2013-04-02
9200    Arunachal Pradesh              0.9  2013-04-03
13224   Arunachal Pradesh              1.0  2013-04-04
17550   Arunachal Pradesh              1.0  2013-04-05
21514   Arunachal Pradesh              1.0  2013-04-06
25518   Arunachal Pradesh              0.9  2013-04-07
29738   Arunachal Pradesh              1.0  2013-04-08
33932   Arunachal Pradesh              1.1  2013-04-09

--- Assam ---
       States  Energy Met (MU)        date
124755  Assam             16.0  2013-03-31
1119    Assam             16.8  2013-04-01
5207    Assam             16.3  2013-04-02
9198    Assam             16.1  2013-04-03
13218   Assam             15.2  2013-04-04
17541   Assam             15.1  2013-04-05
21540   Assam             15.6  2013-04-06
25517   Assam             16.1  2013-04-07
29735   Assam             15.7  2013-04-08
33920   Assam             16.1  2013-04-09

--- Bihar ---
       States  Energy Met (MU)        date
124762  Bihar             32.7  2013-03-31
1127    Bihar             30.3  2013-04-01
5200    Bihar             29.5  2013-04-02
9222    Bihar             27.6  2013-04-03
13221   Bihar             29.4  2013-04-04
17566   Bihar             26.0  2013-04-05
21529   Bihar             28.7  2013-04-06
25512   Bihar             30.0  2013-04-07
29741   Bihar             29.8  2013-04-08
33925   Bihar             30.5  2013-04-09

--- Chandigarh ---
            States  Energy Met (MU)        date
124745  Chandigarh              3.1  2013-03-31
1136    Chandigarh              3.5  2013-04-01
5218    Chandigarh              3.6  2013-04-02
9216    Chandigarh              3.5  2013-04-03
13239   Chandigarh              3.5  2013-04-04
17553   Chandigarh              3.6  2013-04-05
21516   Chandigarh              3.5  2013-04-06
25492   Chandigarh              3.3  2013-04-07
29720   Chandigarh              3.8  2013-04-08
33903   Chandigarh              4.0  2013-04-09

--- Chhattisgarh ---
              States  Energy Met (MU)        date
124737  Chhattisgarh             72.7  2013-03-31
1137    Chhattisgarh             76.3  2013-04-01
5219    Chhattisgarh             65.5  2013-04-02
9231    Chhattisgarh             62.1  2013-04-03
13238   Chhattisgarh             74.0  2013-04-04
17554   Chhattisgarh             71.5  2013-04-05
21517   Chhattisgarh             72.6  2013-04-06
25491   Chhattisgarh             73.1  2013-04-07
29718   Chhattisgarh             75.5  2013-04-08
33902   Chhattisgarh             74.7  2013-04-09

--- Daman & Diu ---
             States  Energy Met (MU)        date
124732  Daman & Diu              5.9  2013-03-31
1143    Daman & Diu              5.5  2013-04-01
5191    Daman & Diu              5.8  2013-04-02
9228    Daman & Diu              6.0  2013-04-03
13233   Daman & Diu              6.1  2013-04-04
17559   Daman & Diu              6.1  2013-04-05
21523   Daman & Diu              5.8  2013-04-06
25505   Daman & Diu              6.0  2013-04-07
29714   Daman & Diu              5.7  2013-04-08
33921   Daman & Diu              6.2  2013-04-09

--- Delhi ---
       States  Energy Met (MU)        date
124742  Delhi             56.1  2013-03-31
1131    Delhi             61.0  2013-04-01
5223    Delhi             62.1  2013-04-02
9210    Delhi             62.0  2013-04-03
13225   Delhi             63.0  2013-04-04
17545   Delhi             64.6  2013-04-05
21546   Delhi             62.6  2013-04-06
25497   Delhi             60.1  2013-04-07
29724   Delhi             68.4  2013-04-08
33907   Delhi             69.9  2013-04-09

--- Goa ---
       States  Energy Met (MU)        date
124733    Goa              7.2  2013-03-31
1142      Goa              7.5  2013-04-01
5192      Goa              8.6  2013-04-02
9229      Goa              8.2  2013-04-03
13234     Goa              8.2  2013-04-04
17558     Goa              8.1  2013-04-05
21521     Goa              7.9  2013-04-06
25520     Goa              7.9  2013-04-07
29715     Goa              7.8  2013-04-08
33912     Goa              7.9  2013-04-09

--- Gujarat ---
         States  Energy Met (MU)        date
124736  Gujarat            249.9  2013-03-31
1138    Gujarat            246.1  2013-04-01
5220    Gujarat            250.8  2013-04-02
9217    Gujarat            251.4  2013-04-03
13237   Gujarat            256.1  2013-04-04
17555   Gujarat            260.5  2013-04-05
21518   Gujarat            262.3  2013-04-06
25490   Gujarat            252.2  2013-04-07
29729   Gujarat            261.7  2013-04-08
33901   Gujarat            264.3  2013-04-09

--- Haryana ---
         States  Energy Met (MU)        date
124749  Haryana             91.6  2013-03-31
1113    Haryana             92.4  2013-04-01
5209    Haryana             93.3  2013-04-02
9212    Haryana             95.3  2013-04-03
13210   Haryana            102.0  2013-04-04
17547   Haryana             93.3  2013-04-05
21544   Haryana             90.8  2013-04-06
25499   Haryana             89.7  2013-04-07
29726   Haryana             91.9  2013-04-08
33909   Haryana             89.6  2013-04-09

--- Himachal Pradesh ---
                  States  Energy Met (MU)        date
124738  Himachal Pradesh             21.0  2013-03-31
1134    Himachal Pradesh             21.2  2013-04-01
5216    Himachal Pradesh             22.3  2013-04-02
9207    Himachal Pradesh             23.3  2013-04-03
13240   Himachal Pradesh             23.8  2013-04-04
17542   Himachal Pradesh             23.1  2013-04-05
21531   Himachal Pradesh             23.7  2013-04-06
25494   Himachal Pradesh             22.1  2013-04-07
29721   Himachal Pradesh             22.9  2013-04-08
33899   Himachal Pradesh             23.2  2013-04-09

--- J&K(UT) &
Ladakh(UT) ---
                         States  Energy Met (MU)        date
54740  J&K(UT) & \r\nLadakh(UT)             48.8  2020-03-14

--- Jammu & Kashmir ---
                 States  Energy Met (MU)        date
124739  Jammu & Kashmir             33.8  2013-03-31
1135    Jammu & Kashmir             31.8  2013-04-01
5217    Jammu & Kashmir             29.2  2013-04-02
9215    Jammu & Kashmir             29.5  2013-04-03
13242   Jammu & Kashmir             30.7  2013-04-04
17552   Jammu & Kashmir             28.4  2013-04-05
21522   Jammu & Kashmir             27.0  2013-04-06
25493   Jammu & Kashmir             28.5  2013-04-07
29727   Jammu & Kashmir             30.8  2013-04-08
33904   Jammu & Kashmir             32.2  2013-04-09

--- Jharkhand ---
           States  Energy Met (MU)        date
124760  Jharkhand             19.6  2013-03-31
1115    Jharkhand             19.8  2013-04-01
5202    Jharkhand             19.4  2013-04-02
9220    Jharkhand             16.5  2013-04-03
13213   Jharkhand             17.8  2013-04-04
17568   Jharkhand             17.3  2013-04-05
21547   Jharkhand             19.3  2013-04-06
25514   Jharkhand             17.6  2013-04-07
29739   Jharkhand             19.3  2013-04-08
33924   Jharkhand             19.5  2013-04-09

--- Karnataka ---
           States  Energy Met (MU)        date
124746  Karnataka            158.0  2013-03-31
1141    Karnataka            159.4  2013-04-01
5196    Karnataka            164.6  2013-04-02
9226    Karnataka            163.7  2013-04-03
13236   Karnataka            161.8  2013-04-04
17562   Karnataka            163.3  2013-04-05
21525   Karnataka            161.1  2013-04-06
25508   Karnataka            161.2  2013-04-07
29728   Karnataka            169.6  2013-04-08
33929   Karnataka            172.1  2013-04-09

--- Kerala ---
        States  Energy Met (MU)        date
124764  Kerala             56.0  2013-03-31
1130    Kerala             57.6  2013-04-01
5197    Kerala             59.5  2013-04-02
9225    Kerala             62.0  2013-04-03
13230   Kerala             61.4  2013-04-04
17563   Kerala             60.5  2013-04-05
21526   Kerala             59.4  2013-04-06
25509   Kerala             56.3  2013-04-07
29731   Kerala             60.3  2013-04-08
33928   Kerala             59.3  2013-04-09

--- Madhya Pradesh ---
                States  Energy Met (MU)        date
124735  Madhya Pradesh            133.0  2013-03-31
1146    Madhya Pradesh            135.2  2013-04-01
5195    Madhya Pradesh            127.1  2013-04-02
9218    Madhya Pradesh            127.6  2013-04-03
13241   Madhya Pradesh            134.8  2013-04-04
17556   Madhya Pradesh            135.7  2013-04-05
21519   Madhya Pradesh            136.5  2013-04-06
25489   Madhya Pradesh            136.0  2013-04-07
29717   Madhya Pradesh            138.9  2013-04-08
33900   Madhya Pradesh            136.7  2013-04-09

--- Maharashtra ---
             States  Energy Met (MU)        date
124734  Maharashtra            337.8  2013-03-31
1140    Maharashtra            357.5  2013-04-01
5193    Maharashtra            365.0  2013-04-02
9230    Maharashtra            366.5  2013-04-03
13235   Maharashtra            362.5  2013-04-04
17557   Maharashtra            359.6  2013-04-05
21515   Maharashtra            356.6  2013-04-06
25503   Maharashtra            353.3  2013-04-07
29716   Maharashtra            372.1  2013-04-08
33910   Maharashtra            372.4  2013-04-09

--- Manipur ---
         States  Energy Met (MU)        date
124754  Manipur              0.8  2013-03-31
1120    Manipur              1.2  2013-04-01
5210    Manipur              1.2  2013-04-02
9199    Manipur              1.2  2013-04-03
13219   Manipur              1.3  2013-04-04
17543   Manipur              1.0  2013-04-05
21538   Manipur              1.0  2013-04-06
25516   Manipur              1.0  2013-04-07
29734   Manipur              1.0  2013-04-08
33919   Manipur              1.2  2013-04-09

--- Meghalaya ---
           States  Energy Met (MU)        date
124753  Meghalaya              4.2  2013-03-31
1121    Meghalaya              4.4  2013-04-01
5211    Meghalaya              4.5  2013-04-02
9206    Meghalaya              4.3  2013-04-03
13220   Meghalaya              4.2  2013-04-04
17573   Meghalaya              4.1  2013-04-05
21537   Meghalaya              4.5  2013-04-06
25501   Meghalaya              4.5  2013-04-07
29733   Meghalaya              4.5  2013-04-08
33918   Meghalaya              4.1  2013-04-09

--- Mizoram ---
         States  Energy Met (MU)        date
124752  Mizoram              1.1  2013-03-31
1122    Mizoram              1.0  2013-04-01
5212    Mizoram              1.0  2013-04-02
9205    Mizoram              1.0  2013-04-03
13226   Mizoram              0.9  2013-04-04
17551   Mizoram              0.8  2013-04-05
21536   Mizoram              1.0  2013-04-06
25502   Mizoram              0.9  2013-04-07
29732   Mizoram              1.0  2013-04-08
33917   Mizoram              1.0  2013-04-09

--- Nagaland ---
          States  Energy Met (MU)        date
124751  Nagaland              1.2  2013-03-31
1126    Nagaland              1.2  2013-04-01
5213    Nagaland              1.0  2013-04-02
9204    Nagaland              1.0  2013-04-03
13222   Nagaland              0.8  2013-04-04
17572   Nagaland              1.1  2013-04-05
21535   Nagaland              0.9  2013-04-06
25504   Nagaland              0.9  2013-04-07
29730   Nagaland              0.9  2013-04-08
33916   Nagaland              0.9  2013-04-09

--- Odisha ---
        States  Energy Met (MU)        date
124759  Odisha             69.4  2013-03-31
1116    Odisha             70.2  2013-04-01
5203    Odisha             68.1  2013-04-02
9219    Odisha             67.2  2013-04-03
13214   Odisha             68.5  2013-04-04
17569   Odisha             70.3  2013-04-05
21520   Odisha             71.0  2013-04-06
25515   Odisha             67.0  2013-04-07
29744   Odisha             70.3  2013-04-08
33931   Odisha             73.4  2013-04-09

--- Punjab ---
        States  Energy Met (MU)        date
124747  Punjab             92.3  2013-03-31
1123    Punjab             97.8  2013-04-01
5208    Punjab             98.4  2013-04-02
9213    Punjab             99.7  2013-04-03
13211   Punjab            101.3  2013-04-04
17574   Punjab            100.3  2013-04-05
21543   Punjab            100.7  2013-04-06
25500   Punjab             96.9  2013-04-07
29711   Punjab             99.3  2013-04-08
33905   Punjab            103.0  2013-04-09

--- Rajasthan ---
           States  Energy Met (MU)        date
124743  Rajasthan            155.0  2013-03-31
1124    Rajasthan            155.6  2013-04-01
5222    Rajasthan            145.1  2013-04-02
9211    Rajasthan            136.9  2013-04-03
13216   Rajasthan            142.5  2013-04-04
17546   Rajasthan            143.1  2013-04-05
21545   Rajasthan            142.3  2013-04-06
25498   Rajasthan            147.8  2013-04-07
29725   Rajasthan            140.2  2013-04-08
33908   Rajasthan            141.5  2013-04-09

--- Sikkim ---
        States  Energy Met (MU)        date
124757  Sikkim              1.1  2013-03-31
1129    Sikkim              1.2  2013-04-01
5205    Sikkim              1.3  2013-04-02
9214    Sikkim              1.3  2013-04-03
13217   Sikkim              0.9  2013-04-04
17549   Sikkim              0.8  2013-04-05
21541   Sikkim              0.8  2013-04-06
25495   Sikkim              0.8  2013-04-07
29736   Sikkim              1.2  2013-04-08
33923   Sikkim              1.2  2013-04-09

--- Tamil Nadu ---
            States  Energy Met (MU)        date
124748  Tamil Nadu            223.2  2013-03-31
1133    Tamil Nadu            234.4  2013-04-01
5198    Tamil Nadu            229.4  2013-04-02
9224    Tamil Nadu            224.0  2013-04-03
13229   Tamil Nadu            227.3  2013-04-04
17564   Tamil Nadu            230.2  2013-04-05
21527   Tamil Nadu            241.3  2013-04-06
25510   Tamil Nadu            227.2  2013-04-07
29743   Tamil Nadu            227.8  2013-04-08
33927   Tamil Nadu            233.7  2013-04-09

--- Telangana ---
          States  Energy Met (MU)        date
5883   Telangana            143.7  2014-06-02
9805   Telangana             40.3  2014-06-03
14011  Telangana            117.4  2014-06-04
18244  Telangana            125.3  2014-06-05
22172  Telangana            128.0  2014-06-06
26268  Telangana            126.1  2014-06-07
30430  Telangana            124.8  2014-06-08
34611  Telangana            124.3  2014-06-09
38957  Telangana            118.7  2014-06-10
43053  Telangana            121.6  2014-06-11

--- Tripura ---
         States  Energy Met (MU)        date
124750  Tripura              3.5  2013-03-31
1125    Tripura              2.9  2013-04-01
5214    Tripura              2.6  2013-04-02
9203    Tripura              3.1  2013-04-03
13223   Tripura              3.0  2013-04-04
17571   Tripura              2.8  2013-04-05
21534   Tripura              2.6  2013-04-06
25519   Tripura              3.0  2013-04-07
29712   Tripura              3.4  2013-04-08
33915   Tripura              3.1  2013-04-09

--- Uttar Pradesh ---
               States  Energy Met (MU)        date
124741  Uttar Pradesh            195.0  2013-03-31
1132    Uttar Pradesh            192.4  2013-04-01
5190    Uttar Pradesh            192.4  2013-04-02
9209    Uttar Pradesh            197.3  2013-04-03
13228   Uttar Pradesh            194.8  2013-04-04
17544   Uttar Pradesh            187.3  2013-04-05
21533   Uttar Pradesh            197.7  2013-04-06
25496   Uttar Pradesh            201.8  2013-04-07
29723   Uttar Pradesh            204.6  2013-04-08
33906   Uttar Pradesh            201.2  2013-04-09

--- Uttarakhand ---
             States  Energy Met (MU)        date
124740  Uttarakhand             27.3  2013-03-31
1139    Uttarakhand             27.6  2013-04-01
5215    Uttarakhand             29.0  2013-04-02
9208    Uttarakhand             28.5  2013-04-03
13227   Uttarakhand             29.4  2013-04-04
17548   Uttarakhand             28.8  2013-04-05
21532   Uttarakhand             29.6  2013-04-06
25488   Uttarakhand             26.9  2013-04-07
29722   Uttarakhand             30.4  2013-04-08
33911   Uttarakhand             31.8  2013-04-09

--- West Bengal ---
             States  Energy Met (MU)        date
124758  West Bengal            126.6  2013-03-31
1117    West Bengal            137.0  2013-04-01
5204    West Bengal            136.2  2013-04-02
9202    West Bengal            140.4  2013-04-03
13215   West Bengal            134.0  2013-04-04
17570   West Bengal            135.9  2013-04-05
21542   West Bengal            134.5  2013-04-06
25487   West Bengal            126.1  2013-04-07
29737   West Bengal            136.4  2013-04-08
33922   West Bengal            147.8  2013-04-09