In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('D:\python\WattsNext\WattsNext\Daily_Power_Gen_States_march_23.csv')
df.head(30)

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\HP\AppData\Local\Temp\ipykernel_7460\1277854461.py:3: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_csv('D:\python\WattsNext\WattsNext\Daily_Power_Gen_States_march_23.csv')

,Region,States,Max.Demand Met during the day(MW),Shortage during maximum Demand(MW),Energy Met (MU),date
0,NER,Mizoram,77,1.0,1.2,2015-01-01
1,WR,DD,214,0.0,4.8,2015-01-01
2,WR,Goa,383,0.0,7.3,2015-01-01
3,WR,Maharashtra,14837,57.0,315.0,2015-01-01
4,WR,MP,5740,0.0,109.8,2015-01-01
5,WR,Gujarat,11383,0.0,246.4,2015-01-01
6,WR,Chhattisgarh,3052,18.0,64.6,2015-01-01
7,WR,DNH,581,0.0,14.0,2015-01-01
8,NR,Chandigarh,224,0.0,3.8,2015-01-01
9,NR,HP,1367,0.0,25.1,2015-01-01
10,NR,Uttarakhand,1768,0.0,33.9,2015-01-01
11,NR,UP,9998,3645.0,244.0,2015-01-01
12,NR,Delhi,4009,0.0,67.6,2015-01-01
13,NR,Rajasthan,9810,0.0,204.9,2015-01-01
14,NR,Haryana,6025,0.0,116.8,2015-01-01
15,NR,J&K,1959,346.0,37.3,2015-01-01
16,NR,Punjab,5045,0.0,93.3,2015-01-01
17,WR,Essar steel,258,0.0,5.4,2015-01-01
18,SR,Andhra Pradesh,5963,0.0,131.5,2015-01-01
19,NER,Meghalaya,311,1.0,5.1,2015-01-01
20,NER,Manipur,136,2.0,2.6,2015-01-01
21,NER,Assam,1210,37.0,21.8,2015-01-01
22,NER,Arunachal Pradesh,103,2.0,1.8,2015-01-01
23,ER,Sikkim,89,0.0,1.8,2015-01-01
24,ER,West Bengal,5888,0.0,101.0,2015-01-01
25,ER,Odisha,3011,0.0,65.6,2015-01-01
26,ER,Jharkhand,1012,119.0,22.0,2015-01-01
27,ER,DVC,2243,0.0,51.8,2015-01-01
28,ER,Bihar,2679,0.0,52.2,2015-01-01
29,SR,Pondy,278,0.0,5.4,2015-01-01

In [163]:
df.drop(["Max.Demand Met during the day(MW)","Shortage during maximum Demand(MW)","Region"], axis=1,inplace=True)

In [164]:
df.sort_values(by=['States','Energy Met (MU)'],inplace=True)

In [165]:
df.query("States not in ['AMNSIL','BALCO','DNH','DNHDDPDCL','DVC','Essar steel','Railways_NR ISTS','Pondy', 'Puducherry']",inplace=True)

In [166]:
df['States'].replace({
    'J&K':'Jammu & Kashmir',
    'J&K(UT)':'Jammu & Kashmir',
    'J&K(UT) &':'Jammu & Kashmir',
    'J&K(UT) & \nLadakh(UT)':'Jammu & Kashmir',
    'J&K(UT) & Ladakh(UT)':'Jammu & Kashmir',
    'J&K(UT) and Ladakh(UT)':'Jammu & Kashmir',
    'DD':'Daman & Diu',
    'MP':'Madhya Pradesh',
    'UP':'Uttar Pradesh',
    'HP':'Himachal Pradesh'},
    inplace=True)
df['States']=df['States'].str.strip()

C:\Users\HP\AppData\Local\Temp\ipykernel_16440\2910808681.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['States'].replace({

In [168]:
df.head()

                States  Energy Met (MU)        date
9806    Andhra Pradesh             93.5  2014-06-03
69887   Andhra Pradesh             96.8  2015-11-17
74251   Andhra Pradesh            101.2  2015-11-18
111468  Andhra Pradesh            101.2  2014-10-27
76371   Andhra Pradesh            103.4  2016-05-19